*~
*.bak
*.tmp
*.swp
*.autosave
*.session
*.log

*.kicad_pcb-bak
*.kicad_pcb-lp
*.sch-bak

*/fp-lib-table
*/sym-lib-table
*/fp-info-cache
*.kicad_cache
*-cache.lib
*-backups*

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db